{
    "openapi": "3.1.0",
    "info": {
        "title": "Tarae API",
        "description": "타래 — 뜨개 커뮤니티 서비스 API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.taraethreads.com",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "문의",
            "description": "문의하기 API"
        },
        {
            "name": "리뷰",
            "description": "장소/이벤트 리뷰 API"
        },
        {
            "name": "장소",
            "description": "뜨개 관련 장소 API"
        },
        {
            "name": "등록 요청",
            "description": "장소/이벤트 등록 요청 API"
        },
        {
            "name": "이벤트",
            "description": "뜨개 관련 이벤트/팝업/세일 API"
        },
        {
            "name": "카테고리",
            "description": "카테고리 API"
        },
        {
            "name": "브랜드",
            "description": "브랜드 API"
        }
    ],
    "paths": {
        "/api/requests/places": {
            "post": {
                "tags": [
                    "등록 요청"
                ],
                "summary": "장소 등록 요청",
                "operationId": "requestPlace",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlaceRequestInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "요청 등록 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseRequestResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "유효하지 않은 요청 값",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseRequestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/requests/events": {
            "post": {
                "tags": [
                    "등록 요청"
                ],
                "summary": "이벤트 등록 요청",
                "operationId": "requestEvent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventRequestInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "요청 등록 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseRequestResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "유효하지 않은 요청 값",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseRequestResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/places/{placeId}/reviews": {
            "get": {
                "tags": [
                    "리뷰"
                ],
                "summary": "장소 리뷰 목록 조회",
                "operationId": "getPlaceReviews",
                "parameters": [
                    {
                        "name": "placeId",
                        "in": "path",
                        "description": "장소 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListReviewResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "리뷰"
                ],
                "summary": "장소 리뷰 작성",
                "operationId": "createPlaceReview",
                "parameters": [
                    {
                        "name": "placeId",
                        "in": "path",
                        "description": "장소 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReviewCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "작성 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseReviewResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "존재하지 않는 장소",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseReviewResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/inquiries": {
            "post": {
                "tags": [
                    "문의"
                ],
                "summary": "문의 제출",
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InquiryCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "문의 제출 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseInquiryCreateResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "유효하지 않은 요청 값",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseInquiryCreateResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/events/{eventId}/reviews": {
            "get": {
                "tags": [
                    "리뷰"
                ],
                "summary": "이벤트 리뷰 목록 조회",
                "operationId": "getEventReviews",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "path",
                        "description": "이벤트 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListReviewResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "리뷰"
                ],
                "summary": "이벤트 리뷰 작성",
                "operationId": "createEventReview",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "path",
                        "description": "이벤트 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReviewCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "작성 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseReviewResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "존재하지 않는 이벤트",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseReviewResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/api/tags": {
            "post": {
                "tags": [
                    "admin-master-api-controller"
                ],
                "operationId": "createTag",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuickCreateResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/api/categories": {
            "post": {
                "tags": [
                    "admin-master-api-controller"
                ],
                "operationId": "createCategory",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuickCreateResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/api/brands": {
            "post": {
                "tags": [
                    "admin-master-api-controller"
                ],
                "operationId": "createBrand",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "YARN",
                                "NEEDLE",
                                "NOTIONS",
                                "PATTERNBOOK"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuickCreateResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/places": {
            "get": {
                "tags": [
                    "장소"
                ],
                "summary": "장소 목록 조회",
                "operationId": "getPlaces",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "검색어 (장소명, 주소, 태그, 브랜드 통합 검색)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "지역 필터 (예: 서울, 경기)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "카테고리 ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tagId",
                        "in": "query",
                        "description": "태그 ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListPlaceListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/places/{id}": {
            "get": {
                "tags": [
                    "장소"
                ],
                "summary": "장소 상세 조회",
                "operationId": "getPlace",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "장소 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponsePlaceDetailResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "존재하지 않는 장소",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponsePlaceDetailResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/events": {
            "get": {
                "tags": [
                    "이벤트"
                ],
                "summary": "이벤트 목록 조회",
                "operationId": "getEvents",
                "parameters": [
                    {
                        "name": "eventType",
                        "in": "query",
                        "description": "이벤트 타입 (TESTER_RECRUIT, SALE, EVENT_POPUP)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TESTER_RECRUIT",
                                "SALE",
                                "EVENT_POPUP"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListEventListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/events/{id}": {
            "get": {
                "tags": [
                    "이벤트"
                ],
                "summary": "이벤트 상세 조회",
                "operationId": "getEvent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "이벤트 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseEventDetailResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "존재하지 않는 이벤트",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseEventDetailResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "카테고리"
                ],
                "summary": "카테고리 목록 조회",
                "operationId": "getCategories",
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListCategoryResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/brands": {
            "get": {
                "tags": [
                    "브랜드"
                ],
                "summary": "타입별 브랜드 목록 조회",
                "operationId": "getBrands",
                "responses": {
                    "200": {
                        "description": "조회 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListBrandTypeGroup"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/reviews/{reviewId}": {
            "delete": {
                "tags": [
                    "리뷰"
                ],
                "summary": "리뷰 삭제 (비밀번호 검증)",
                "operationId": "deleteReview",
                "parameters": [
                    {
                        "name": "reviewId",
                        "in": "path",
                        "description": "리뷰 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReviewDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "삭제 성공",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "비밀번호 불일치",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "존재하지 않는 리뷰",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PlaceRequestInput": {
                "type": "object",
                "properties": {
                    "requestType": {
                        "type": "string",
                        "enum": [
                            "NEW",
                            "UPDATE"
                        ]
                    },
                    "placeId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "addressDetail": {
                        "type": "string"
                    },
                    "lat": {
                        "type": "number"
                    },
                    "lng": {
                        "type": "number"
                    },
                    "categoryIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "categoryText": {
                        "type": "string"
                    },
                    "hoursText": {
                        "type": "string"
                    },
                    "closedDays": {
                        "type": "string"
                    },
                    "brandYarnIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "brandsYarn": {
                        "type": "string"
                    },
                    "brandNeedleIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "brandsNeedle": {
                        "type": "string"
                    },
                    "brandNotionsIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "brandsNotions": {
                        "type": "string"
                    },
                    "brandPatternbookIds": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "brandsPatternbook": {
                        "type": "string"
                    },
                    "instagramUrl": {
                        "type": "string"
                    },
                    "websiteUrl": {
                        "type": "string"
                    },
                    "naverMapUrl": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "string"
                    },
                    "note": {
                        "type": "string"
                    }
                },
                "required": [
                    "requestType"
                ]
            },
            "ApiResponseRequestResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/RequestResponse"
                    }
                },
                "required": [
                    "data"
                ]
            },
            "RequestResponse": {
                "type": "object",
                "description": "등록 요청 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "생성된 요청 ID",
                        "example": 1
                    }
                },
                "required": [
                    "id"
                ]
            },
            "EventRequestInput": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "minLength": 1
                    },
                    "eventType": {
                        "type": "string",
                        "enum": [
                            "TESTER_RECRUIT",
                            "SALE",
                            "EVENT_POPUP"
                        ]
                    },
                    "startDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "endDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "locationText": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "lat": {
                        "type": "number"
                    },
                    "lng": {
                        "type": "number"
                    },
                    "instagramUrl": {
                        "type": "string"
                    },
                    "websiteUrl": {
                        "type": "string"
                    },
                    "naverMapUrl": {
                        "type": "string"
                    }
                },
                "required": [
                    "eventType",
                    "startDate",
                    "title"
                ]
            },
            "ReviewCreateRequest": {
                "type": "object",
                "description": "리뷰 작성 요청",
                "properties": {
                    "nickname": {
                        "type": "string",
                        "description": "닉네임",
                        "example": "뜨개하는고양이",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "email": {
                        "type": "string",
                        "description": "이메일",
                        "example": "cat@example.com",
                        "maxLength": 100,
                        "minLength": 0
                    },
                    "password": {
                        "type": "string",
                        "description": "비밀번호 (삭제 시 사용, 4~20자)",
                        "example": 1234,
                        "maxLength": 20,
                        "minLength": 4,
                        "pattern": "^[a-zA-Z0-9!@#$%^&*()_+\\-=]+$"
                    },
                    "content": {
                        "type": "string",
                        "description": "리뷰 내용",
                        "example": "실 종류가 다양하고 사장님이 친절해요!",
                        "minLength": 1
                    }
                },
                "required": [
                    "content",
                    "email",
                    "nickname",
                    "password"
                ]
            },
            "ApiResponseReviewResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ReviewResponse"
                    }
                },
                "required": [
                    "data"
                ]
            },
            "ReviewResponse": {
                "type": "object",
                "description": "리뷰 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "리뷰 ID",
                        "example": 1
                    },
                    "nickname": {
                        "type": "string",
                        "description": "닉네임",
                        "example": "뜨개하는고양이"
                    },
                    "content": {
                        "type": "string",
                        "description": "리뷰 내용"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "작성일시"
                    }
                },
                "required": [
                    "content",
                    "createdAt",
                    "id",
                    "nickname"
                ]
            },
            "InquiryCreateRequest": {
                "type": "object",
                "description": "문의 제출 요청",
                "properties": {
                    "title": {
                        "type": "string",
                        "description": "문의 제목",
                        "example": "배송 관련 문의",
                        "maxLength": 255,
                        "minLength": 0
                    },
                    "body": {
                        "type": "string",
                        "description": "문의 내용",
                        "minLength": 1
                    },
                    "email": {
                        "type": "string",
                        "description": "답변받을 이메일",
                        "example": "user@example.com",
                        "maxLength": 100,
                        "minLength": 0
                    }
                },
                "required": [
                    "body",
                    "email",
                    "title"
                ]
            },
            "ApiResponseInquiryCreateResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/InquiryCreateResponse"
                    }
                },
                "required": [
                    "data"
                ]
            },
            "InquiryCreateResponse": {
                "type": "object",
                "description": "문의 제출 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "문의 ID",
                        "example": 1
                    }
                },
                "required": [
                    "id"
                ]
            },
            "QuickCreateResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name"
                ]
            },
            "ApiResponseListPlaceListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PlaceListResponse"
                        }
                    }
                },
                "required": [
                    "data"
                ]
            },
            "BrandDto": {
                "type": "object",
                "description": "브랜드 요약 정보",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "브랜드 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "브랜드명",
                        "example": "드미트리아"
                    },
                    "type": {
                        "type": "string",
                        "description": "브랜드 유형",
                        "example": "YARN"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "type"
                ]
            },
            "CategoryDto": {
                "type": "object",
                "description": "카테고리 요약 정보",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "카테고리 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "카테고리명",
                        "example": "공방"
                    }
                },
                "required": [
                    "id",
                    "name"
                ]
            },
            "PlaceListResponse": {
                "type": "object",
                "description": "장소 목록 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "장소 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "장소명",
                        "example": "실과 바늘"
                    },
                    "region": {
                        "type": "string",
                        "description": "지역",
                        "example": "서울"
                    },
                    "district": {
                        "type": "string",
                        "description": "동네",
                        "example": "성수"
                    },
                    "address": {
                        "type": "string",
                        "description": "주소",
                        "example": "서울 성동구 연무장길 1"
                    },
                    "lat": {
                        "type": "number",
                        "description": "위도"
                    },
                    "lng": {
                        "type": "number",
                        "description": "경도"
                    },
                    "status": {
                        "type": "string",
                        "description": "운영 상태",
                        "example": "OPEN"
                    },
                    "categories": {
                        "type": "array",
                        "description": "카테고리 목록",
                        "items": {
                            "$ref": "#/components/schemas/CategoryDto"
                        }
                    },
                    "tags": {
                        "type": "array",
                        "description": "태그 목록",
                        "items": {
                            "$ref": "#/components/schemas/TagDto"
                        }
                    },
                    "brands": {
                        "type": "array",
                        "description": "브랜드 목록",
                        "items": {
                            "$ref": "#/components/schemas/BrandDto"
                        }
                    },
                    "instagramUrl": {
                        "type": "string",
                        "description": "인스타그램 URL"
                    },
                    "websiteUrl": {
                        "type": "string",
                        "description": "웹사이트 URL"
                    },
                    "naverMapUrl": {
                        "type": "string",
                        "description": "네이버 지도 URL"
                    }
                },
                "required": [
                    "address",
                    "brands",
                    "categories",
                    "district",
                    "id",
                    "name",
                    "region",
                    "status",
                    "tags"
                ]
            },
            "TagDto": {
                "type": "object",
                "description": "태그 요약 정보",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "태그 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "태그명",
                        "example": "초보환영"
                    }
                },
                "required": [
                    "id",
                    "name"
                ]
            },
            "ApiResponseListReviewResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ReviewResponse"
                        }
                    }
                },
                "required": [
                    "data"
                ]
            },
            "ApiResponsePlaceDetailResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/PlaceDetailResponse"
                    }
                },
                "required": [
                    "data"
                ]
            },
            "PlaceDetailResponse": {
                "type": "object",
                "description": "장소 상세 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "장소 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "장소명",
                        "example": "실과 바늘"
                    },
                    "region": {
                        "type": "string",
                        "description": "지역",
                        "example": "서울"
                    },
                    "district": {
                        "type": "string",
                        "description": "동네",
                        "example": "성수"
                    },
                    "address": {
                        "type": "string",
                        "description": "주소",
                        "example": "서울 성동구 연무장길 1"
                    },
                    "lat": {
                        "type": "number",
                        "description": "위도"
                    },
                    "lng": {
                        "type": "number",
                        "description": "경도"
                    },
                    "hoursText": {
                        "type": "string",
                        "description": "영업시간 텍스트",
                        "example": "화~금 10:00-19:00"
                    },
                    "closedDays": {
                        "type": "string",
                        "description": "휴무일",
                        "example": "월요일"
                    },
                    "description": {
                        "type": "string",
                        "description": "장소 설명"
                    },
                    "status": {
                        "type": "string",
                        "description": "운영 상태",
                        "example": "OPEN"
                    },
                    "categories": {
                        "type": "array",
                        "description": "카테고리 목록",
                        "items": {
                            "$ref": "#/components/schemas/CategoryDto"
                        }
                    },
                    "tags": {
                        "type": "array",
                        "description": "태그 목록",
                        "items": {
                            "$ref": "#/components/schemas/TagDto"
                        }
                    },
                    "brands": {
                        "type": "array",
                        "description": "브랜드 목록",
                        "items": {
                            "$ref": "#/components/schemas/BrandDto"
                        }
                    },
                    "instagramUrl": {
                        "type": "string",
                        "description": "인스타그램 URL"
                    },
                    "websiteUrl": {
                        "type": "string",
                        "description": "웹사이트 URL"
                    },
                    "naverMapUrl": {
                        "type": "string",
                        "description": "네이버 지도 URL"
                    },
                    "events": {
                        "type": "array",
                        "description": "활성 이벤트 목록",
                        "items": {
                            "$ref": "#/components/schemas/PlaceEventDto"
                        }
                    }
                },
                "required": [
                    "address",
                    "brands",
                    "categories",
                    "district",
                    "events",
                    "id",
                    "name",
                    "region",
                    "status",
                    "tags"
                ]
            },
            "PlaceEventDto": {
                "type": "object",
                "description": "장소에 연결된 이벤트 요약 정보",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "이벤트 ID",
                        "example": 10
                    },
                    "title": {
                        "type": "string",
                        "description": "이벤트 제목",
                        "example": "봄 시즌 클래스 모집"
                    },
                    "eventType": {
                        "type": "string",
                        "description": "이벤트 유형",
                        "example": "TESTER_RECRUIT"
                    },
                    "startDate": {
                        "type": "string",
                        "format": "date",
                        "description": "시작일",
                        "example": "2026-04-15"
                    },
                    "endDate": {
                        "type": "string",
                        "format": "date",
                        "description": "종료일",
                        "example": "2026-05-10"
                    },
                    "active": {
                        "type": "boolean",
                        "description": "활성 여부",
                        "example": true
                    },
                    "instagramUrl": {
                        "type": "string",
                        "description": "인스타그램 URL"
                    },
                    "websiteUrl": {
                        "type": "string",
                        "description": "웹사이트 URL"
                    },
                    "naverMapUrl": {
                        "type": "string",
                        "description": "네이버 지도 URL"
                    }
                },
                "required": [
                    "active",
                    "eventType",
                    "id",
                    "startDate",
                    "title"
                ]
            },
            "ApiResponseListEventListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EventListResponse"
                        }
                    }
                },
                "required": [
                    "data"
                ]
            },
            "EventListResponse": {
                "type": "object",
                "description": "이벤트 목록 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "이벤트 ID",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "description": "이벤트 제목",
                        "example": "봄맞이 뜨개 마켓"
                    },
                    "eventType": {
                        "type": "string",
                        "description": "이벤트 유형",
                        "example": "POPUP"
                    },
                    "startDate": {
                        "type": "string",
                        "format": "date",
                        "description": "시작일"
                    },
                    "endDate": {
                        "type": "string",
                        "format": "date",
                        "description": "종료일"
                    },
                    "locationText": {
                        "type": "string",
                        "description": "장소 텍스트"
                    },
                    "lat": {
                        "type": "number",
                        "description": "위도"
                    },
                    "lng": {
                        "type": "number",
                        "description": "경도"
                    },
                    "active": {
                        "type": "boolean",
                        "description": "활성 여부"
                    },
                    "instagramUrl": {
                        "type": "string",
                        "description": "인스타그램 URL"
                    },
                    "websiteUrl": {
                        "type": "string",
                        "description": "웹사이트 URL"
                    },
                    "naverMapUrl": {
                        "type": "string",
                        "description": "네이버 지도 URL"
                    }
                },
                "required": [
                    "active",
                    "eventType",
                    "id",
                    "startDate",
                    "title"
                ]
            },
            "ApiResponseEventDetailResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EventDetailResponse"
                    }
                },
                "required": [
                    "data"
                ]
            },
            "EventDetailResponse": {
                "type": "object",
                "description": "이벤트 상세 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "이벤트 ID",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "description": "이벤트 제목",
                        "example": "봄맞이 뜨개 마켓"
                    },
                    "description": {
                        "type": "string",
                        "description": "이벤트 설명"
                    },
                    "eventType": {
                        "type": "string",
                        "description": "이벤트 유형",
                        "example": "POPUP"
                    },
                    "startDate": {
                        "type": "string",
                        "format": "date",
                        "description": "시작일"
                    },
                    "endDate": {
                        "type": "string",
                        "format": "date",
                        "description": "종료일"
                    },
                    "placeId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "연결된 장소 ID"
                    },
                    "locationText": {
                        "type": "string",
                        "description": "장소 텍스트"
                    },
                    "lat": {
                        "type": "number",
                        "description": "위도"
                    },
                    "lng": {
                        "type": "number",
                        "description": "경도"
                    },
                    "active": {
                        "type": "boolean",
                        "description": "활성 여부"
                    },
                    "instagramUrl": {
                        "type": "string",
                        "description": "인스타그램 URL"
                    },
                    "websiteUrl": {
                        "type": "string",
                        "description": "웹사이트 URL"
                    },
                    "naverMapUrl": {
                        "type": "string",
                        "description": "네이버 지도 URL"
                    }
                },
                "required": [
                    "active",
                    "eventType",
                    "id",
                    "startDate",
                    "title"
                ]
            },
            "ApiResponseListCategoryResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CategoryResponse"
                        }
                    }
                },
                "required": [
                    "data"
                ]
            },
            "CategoryResponse": {
                "type": "object",
                "description": "카테고리 응답",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "카테고리 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "카테고리명",
                        "example": "뜨개카페"
                    }
                },
                "required": [
                    "id",
                    "name"
                ]
            },
            "ApiResponseListBrandTypeGroup": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BrandTypeGroup"
                        }
                    }
                },
                "required": [
                    "data"
                ]
            },
            "BrandItem": {
                "type": "object",
                "description": "브랜드 항목",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "브랜드 ID",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "브랜드명",
                        "example": "산네스간"
                    }
                },
                "required": [
                    "id",
                    "name"
                ]
            },
            "BrandTypeGroup": {
                "type": "object",
                "description": "브랜드 타입 그룹",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "브랜드 타입",
                        "example": "YARN"
                    },
                    "brands": {
                        "type": "array",
                        "description": "브랜드 목록",
                        "items": {
                            "$ref": "#/components/schemas/BrandItem"
                        }
                    }
                },
                "required": [
                    "brands",
                    "type"
                ]
            },
            "ReviewDeleteRequest": {
                "type": "object",
                "description": "리뷰 삭제 요청",
                "properties": {
                    "password": {
                        "type": "string",
                        "description": "비밀번호",
                        "example": 1234,
                        "minLength": 1
                    }
                },
                "required": [
                    "password"
                ]
            },
            "ApiResponse": {
                "type": "object",
                "properties": {
                    "data": {}
                },
                "required": [
                    "data"
                ]
            }
        }
    }
}